main{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .nom-ville, .date{
        font-size: 35px;
        margin: 10px;
        color:#145e9a ;
        
    }
    .lever, .choix{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        color:#145e9a ;
        font-size: 30px;
        i{
            margin: 10px;
        }

        ul{
            display: flex;
            justify-content: space-between;
            width: 70%;
            padding: 10px 5px 10px 5px;
            margin: 0;
            box-shadow: #95a5a6 0px 4px 12px ;

            li{
                list-style: none;
                &:hover{
                    cursor: pointer;
                }
            }

        }

    }

    .temp{
        background: #7F7FD5;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to top, #91EAE4, #037aca);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to top, #91EAE4, #037aca); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        height: 300px;
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-size: 30px;
        color: white;
        margin-top: 20px;
        padding: 10px 5px 10px 5px;

        i{
            padding-right: 10px;
        }
        .affiche-temp{
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-evenly;
        }    
        
    }
}

/* Popup container */
.popup {
    display: none;
    .popuptext{
        visibility: hidden;
        background-color: #c23616;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 10px;
        display: flex;
        
    }
    .show{
        visibility: visible;
        // -webkit-animation: fadeIn 1s;
        animation: fadeIn 0.5s ease-in-out;
    }
    i:hover{
        cursor: pointer;
    }
  }
 
  
  /* Add animation (fade in the popup) */ 
  @keyframes fadeIn {
    0%{ opacity:0 ;}
    100% {opacity:1 ;}
  }
