main{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .nom-ville, .date{
        font-size: 35px;
        margin: 10px;
        color:#145e9a ;
        
    }
    .lever, .choix{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        color:#145e9a ;
        font-size: 30px;
        i{
            margin: 10px;
        }

        ul{
            display: flex;
            justify-content: space-evenly;
            width: 80%;
            margin-bottom: 0;
            li{
                list-style: none;
                &:hover{
                    cursor: pointer;
                    transform: scale(1.5);
                }
            }
        }

    }
    .temp{
        background: #7F7FD5;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to top, #91EAE4, #037aca);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to top, #91EAE4, #037aca); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        height: 300px;
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-size: 30px;
        color: white;
        margin-top: 20px;
        i{
            padding-right: 10px;
        }
        .affiche-temp{
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-evenly;
        }
    }
}